In [1]:
pwd

'/Users/pawarbharath'

In [2]:
import os

In [3]:
os.path.abspath(os.path.curdir)

'/Users/pawarbharath'

In [9]:
india=1000

# interger

In [54]:
a=1000.2

In [55]:
type(a)

float

In [57]:
a=int(a)

In [58]:
type(a)

int

# float

In [93]:
name = 'pawar'
subscribers=1000

In [146]:
print('name' + " " 'has' " " + str(subscribers) + " " 'subscribers' )

name has 1000 subscribers

In [101]:
a=1000

In [15]:
type(a)

int

In [19]:
d = True

In [20]:
type(d)

bool

CHANGE THE DATA TYPE

In [22]:
a=1000

In [23]:
type(a)

int

In [24]:
a=float(a)

In [25]:
type(a)

float

In [26]:
a=1

In [27]:
bool(a)

True

In [28]:
a=0

In [29]:
bool(a)

False

list and tuple

In [153]:
list1=['apple','orange','grape','cherry','pineapple']

In [190]:
for i in list1:
    if i=='apple':
        print(1)
        else:
            print(i)

SyntaxError: invalid syntax (<ipython-input-190-f6b215add319>, line 4)

In [165]:
a=10000
b=1

In [173]:
if a<b:
    print('hi')
else:
    print('bye')

bye

In [181]:
a = 33
b = 200
if b > a:
    
    print("b is greater than a")

b is greater than a

In [39]:
list1=['apple','orange','grape','cherry','pineapple']

In [36]:
list1[0]

3

In [40]:
list1[1]

'orange'

In [41]:
list1[-1]

'pineapple'

In [42]:
list1[4]

'pineapple'

In [43]:
list1[0:3]

['apple', 'orange', 'grape']

In [44]:
list1[0:2]

['apple', 'orange']

In [45]:
list1

['apple', 'orange', 'grape', 'cherry', 'pineapple']

In [47]:
list1[1:4]

['orange', 'grape', 'cherry']

In [48]:
list1[1]='pearl'

In [49]:
list1

['apple', 'pearl', 'grape', 'cherry', 'pineapple']

In [50]:
list1[3]='redcherry'

In [51]:
list1

['apple', 'pearl', 'grape', 'redcherry', 'pineapple']

immutable (tuples)

tuple  no addtion of values ,no appending

In [86]:
tuple1=('apple','orange','grape','cherry','pineapple')

In [62]:
tuple1[4]

'pineapple'

In [87]:
tuple1[0:4]

('apple', 'orange', 'grape', 'cherry')

In [65]:
tuple[1]='greenorange'

TypeError: 'type' object does not support item assignment

In [66]:
list2=[1,2,3,4,5]

In [67]:
type(list2)

list

In [68]:
newtuple=tuple(list2)

In [69]:
newtuple

(1, 2, 3, 4, 5)

In [70]:
newlist=list(newtuple)

In [71]:
type(newlist)

list

tuple

In [72]:
thetuple=('india','pak')

dictionary

In [73]:
dict1={'one':1,'two':2,'three':3}

In [74]:
dict1['one']

1

In [83]:
dict1={'one':2,'two':2,'three':3}

In [78]:
dict1

{'one': 2, 'two': 2, 'three': 3}

In [79]:
list3=[1,3,4,5]

In [80]:
type(list3)

list

In [81]:
newtuple=tuple(list3)

In [82]:
type(newtuple)

tuple

In [84]:
dict1={'one':3,'two':4,'three':5}

In [85]:
dict1

{'one': 3, 'two': 4, 'three': 5}

# 31st date class notes

In [12]:
a

160000

In [ ]:
SETS

In [14]:
thisset={'apple','orange'}

In [15]:
thisset

{'apple', 'orange'}

In [17]:
type(thisset)

set

In [18]:
thisset.update(['grapes'])

In [19]:
thisset

{'apple', 'grapes', 'orange'}

variables

In [21]:
rent=1000

In [22]:
rent=2000

In [23]:
rent

2000

In [24]:
gas=800

In [25]:
groc=1000

In [26]:
total=gas+groc

In [27]:
total

1800

In [119]:
print('rent:',rent,'\n\r'
     'gas:',gas,'\n\r'
     'groc:',groc,'\n')

rent: 2000
gas: 800
groc: 1000

In [100]:
#operators

addation
substraction
mul
div
modulus
exponential
integer division

In [6]:
a=100
b=20

In [34]:
a+b

120

In [35]:
a-b

80

In [36]:
a%b

0

In [37]:
a^b

112

In [38]:
a*b

2000

In [8]:
a/b

5.0

In [40]:
a**b

10000000000000000000000000000000000000000

In [41]:
a=30
b=2

In [7]:
a/b

5.0

In [9]:
a/b

5.0

In [10]:
a//b

5

# comparision

In [43]:
a>b

True

In [44]:
a<b

False

In [45]:
a=1000
b=2000

In [46]:
a>b

False

In [47]:
m1=100
m2=200

In [48]:
m1<m2

True

In [49]:
m1==m2

False

In [50]:
ma=800
mb=800

In [51]:
ma==mb

True

In [52]:
sales=1000
profit=50

In [53]:
sales!=profit

True

In [63]:
e1=100
e2=20

In [64]:
e1>=e2

True

# logical operator

In [65]:
a=100
b=20
c=10

In [66]:
(a>b)and(a>c)

True

In [67]:
(a>b)|(a>c)

True

In [68]:
a1=1000
a2=0

In [69]:
a1/a2

ZeroDivisionError: division by zero

In [70]:
a=4
b='dd'

In [71]:
str(a)+b

'4dd'

if then else

In [72]:
a=1000
b=200
c=900

In [76]:
if a>=b and b>=c:
    print('a is gretaer')
elif a>b and c<b:
    print('bye')
else:
    print('hi')

hi

# 4TH august DATE CLASS NOTES

FOR LOOP

In [1]:
fruits=['apple','banana','cherry']

In [2]:
type(fruits)

list

In [3]:
for x in fruits:
    print(x)

apple
banana
cherry

In [4]:
vegetable=['tomato','potato','brinjal']

In [5]:
for i in vegetable:
    print(i)

tomato
potato
brinjal

In [3]:
n=[2,3,6,7,9,11]

In [4]:
for val in n:
    print(val)

2
3
6
7
9
11

In [5]:
sum=0
for val in n:
    sum=sum+val
    print(sum)

2
5
11
18
27
38

# product

In [53]:
product=1
for val in n:
    product=product*val
    print(product)

2
6
36
252
2268
24948

function

In [10]:
def function_name1(parameter):
    "docstring"
    statement(s)

In [11]:
def welcome(name):
    print("welcome to data analytics",name)

In [12]:
welcome('pawar')

welcome to data analytics pawar

In [13]:
def carname(name):
    print('my fav car is ',name)

In [14]:
carname('tesla')

my fav car is  tesla

In [15]:
def areaofsquare(l):
    ar=l*l
    print('the area of the square',ar)

In [16]:
areaofsquare(2)

the area of the square 4

In [21]:
def areaofrectangle(l,b):
    arr=l*b
    print('the area of rectangle',arr)

In [22]:
areaofrectangle(2,3)

the area of rectangle 6

In [28]:
def areaofcircle(r):
    res=3.14*r*r
    
    print('the area of circle',res)

In [24]:
areaofcircle(3)

the area of circle 28.259999999999998

In [25]:
def areaofcircle(r): 
    res=3.14*r*r 
    return res

In [26]:
res1=areaofcircle(10)
print(res1)

314.0

module

In [29]:
import math

In [30]:
math.sqrt(100)

10.0

In [31]:
x=100

In [32]:
math.log(x)

4.605170185988092

In [33]:
y=100

In [34]:
res=math.sqrt(100)+math.log(x)

In [35]:
res

14.605170185988092

In [36]:
z=100

In [37]:
math.sin(z)

-0.5063656411097588

In [38]:
math.cos(z)

0.862318872287684

In [39]:
math.tan(z)

-0.587213915156929

In [40]:
m=2000

In [41]:
res=math.sin(z)+math.cos(z)+math.tan(z)

In [42]:
res

-0.2312606839790038

In [45]:
m=2000

In [46]:
import statistics

In [47]:
data1=[1,3,4,5,5,5,7,8,8,8,9,100,200,200]

In [48]:
statistics.mean(data1)

40.214285714285715

In [49]:
statistics.median(data1)

7.5

In [50]:
statistics.mode(data1)

5