# PRESENT WORKING DIRESTORY

In [ ]:
pwd

In [2]:
import os

In [3]:
os.path.abspath(os.path.curdir)

'C:\\Users\\hp'

In [4]:
#C:\Users\hp\Downloads

# Changing Folder Path

Change the folder t download

# Heading

In [9]:
pwd

'C:\\Users\\hp'

In [10]:
os.path.abspath(os.path.curdir)

'C:\\Users\\hp'

In [11]:
#C:\Users\hp\Downloads

os.chdir(r'C:\Users\hp\Downloads')

In [12]:
os.path.abspath(os.path.curdir)

'C:\\Users\\hp\\Downloads'

In [13]:
os.chdir(r'C:\\Users\\hp')

In [14]:
pwd

'C:\\Users\\hp'

In [15]:
os.getcwd()

'C:\\Users\\hp'

In [16]:
import os

In [17]:
os.listdir('.')

['.anaconda',
 '.bash_history',
 '.conda',
 '.condarc',
 '.config',
 '.git',
 '.gitconfig',
 '.ipynb',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.matplotlib',
 '.PyCharm2019.2',
 '.python_history',
 '.spyder-py3',
 '.vscode',
 '00-Keras-Basics.ipynb',
 '01-RNN-Example.ipynb',
 '02-RNN-Exercise.ipynb',
 '03-RNN-Exercise-Solutions.ipynb',
 '04-Facebooks-Prophet-Library.ipynb',
 '10_svm.ipynb',
 '12_k_fold.ipynb',
 '13_kmeans_tutorial.ipynb',
 '14_naive_bayes',
 '14_naive_bayes_1_titanic_survival_prediction-Copy1.ipynb',
 '14_naive_bayes_1_titanic_survival_prediction.ipynb',
 '14_naive_bayes_2_email_spam_filter.ipynb',
 '1_linear_regression_yprinting.ipynb',
 '2_linear_regression_multivariate.ipynb',
 '3D Objects',
 '4_save_and_load_model_using_pickle.ipynb',
 '60DaySchedule-Feb2020.xlsx',
 '60DaySchedule-May-2019.xlsx',
 '60DHours-Schedule.xlsx',
 '8am-9am-IST.xlsx',
 '8_logistic_regression_multiclass.ipynb',
 '9_decision_tree_exercise.ipynb',
 'amazon customer reviews.ipynb',
 'amazonproject',
 'Anaconda',
 'Ananconda',
 'AppData',
 'Application Data',
 'Apr2020_BasicPython.ipynb',
 'Apr2020_DataCleaning_Part1.ipynb',
 'AprBasicPython.ipynb',
 'AprMar20220-PDFtoCSV.ipynb',
 'AprMay2020-Web.ipynb',
 'AprMay20202_NaiveBayes.ipynb',
 'AprMay2020_DataCleaning.ipynb',
 'aravind.xlsx',
 'Ashok-Trading',
 'awesome-test',
 'B.ipynb',
 'BasicPython',
 'BasicPython-08-July-2019.ipynb',
 'BASICPYTHON-APRSPL',
 'BasicPython-May2020.ipynb',
 'basicpython-oct30.ipynb',
 'BasicPython.ipynb',
 'BasicPython12.ipynb',
 'BasicsofPython_Dec20.ipynb',
 'BasicsOfPython_Jan2020.ipynb',
 'Bike',
 'biketrain_data_preparation_rev1.ipynb',
 'biketrain_data_preparation_rev2.ipynb',
 'biketrain_data_preparation_rev3.ipynb',
 'biketrain_xgboost_localmode_rev3.ipynb',
 'bike_all.csv',
 'bike_test.csv',
 'bike_train.csv',
 'bike_train_columns.txt',
 'bike_validation.csv',
 'Bokey.ipynb',
 'carprices.csv',
 'car_crashes.csv',
 'Chicago_Crimes_2001_to_2004.csv',
 'Chicago_Crimes_2005_to_2007.csv',
 'Chicago_Crimes_2008_to_2011.csv',
 'Chicago_Crimes_2012_to_2017.csv',
 'Chinook_Sqlite.sqlite',
 'Chinook_Sqlite.sqlite3',
 'clusterprogram_databricks-Copy1.ipynb',
 'clusterprogram_databricks.ipynb',
 'Contacts',
 'Cookies',
 'ct.ipynb',
 'Data Cleaning-Apr-May-2020.ipynb',
 'Data Cleaning2_Dec2019.ipynb',
 'DATA VISUALIZATION USING MATPLOT.ipynb',
 'DATA-PREPROCESSING-FEATURESSELCTION',
 'DataClaining_Join_Jan2020_Part4.ipynb',
 'DataCLeanin-Feb2020.ipynb',
 'DataCleaning-Pandas-Dec-Jan2020.ipynb',
 'DataCLeaning.ipynb',
 'DataCLeaningPart4-NovDec2019.ipynb',
 'DataCleaning_extra.ipynb',
 'DataCleaning_Pandas _Part2_DecJan2020.ipynb',
 'DataCleaning_pandas_Part1_Nov2019.ipynb',
 'DataCleaning_part3.ipynb',
 'DataCleaning_Part3_Groupy_DecJan2020.ipynb',
 'DATACLEANKING',
 'DataPreprocessing-Full-Glaata.ipynb',
 'DataPreprocessing-Full-Glaata_Feb2020.ipynb',
 'DataPreprocessing1.ipynb',
 'DataPreprocessing_Correct-Copy1.ipynb',
 'DataPreprocessing_Correct.html',
 'DataPreprocessing_Correct.ipynb',
 'DataPreprocessing_MarApr2020.ipynb',
 'DataPreprocessing_NovDec2019.ipynb',
 'DataPreprocessing_NovDec2019_Correct.ipynb',
 'DataScience',
 'DataScience-September',
 'DataScience_NareshIT-Dec2019',
 'Dataset_spine.csv',
 'DataVisualization-MatplotLib-NovDec2019.ipynb',
 'DataVisualizationNovDec2019_Seaborn.ipynb',
 'DataVisualization_Seaborn.ipynb',
 'DataVIsualization_Seaborne_DecJan2020.ipynb',
 'dec20',
 'Dec2020_Bokey.ipynb',
 'Dec2020_RandomForest.ipynb',
 'decdejango',
 'Decision-Tree',
 'DecisionTree.txt',
 'DecisonTree',
 'DecJan2020_DataPreprocessing.ipynb',
 'DecJan2020_NLP_SentimentAnalyzer.ipynb',
 'DEEPLEARNING',
 'Desktop',
 'Diabeticpreprocessing.csv',
 'DLLs',
 'Doc',
 'Documents',
 'DogFood_DecisionTree_RandomForest_Naresh.ipynb',
 'dog_food.csv',
 'Downloads',
 'EDA - Python.ipynb',
 'eda with plotly.ipynb',
 'EDA-ML',
 'EDA-ML-Copy1.ipynb',
 'EDA-ML.ipynb',
 'employees.csv',
 'env',
 'exercise.md',
 'FACEBOOK',
 'Favorites',
 'Feb2020Glaata_ModelCreation.ipynb',
 'file1.csv',
 'flask',
 'flower-country.csv',
 'Folder (2).ipynb',
 'Folder-And-Exception-Copy1.ipynb',
 'Folder-And-Exception.ipynb',
 'Folder.ipynb',
 'Folderpath.pdf',
 'Forecasting-Models-Data (1).txt',
 'Forecasting.ipynb',
 'fortune1000.csv',
 'FULL-PYTHON-BASIC.ipynb',
 'Glaaata_feb2020_RandomForest.ipynb',
 'Glaata-Feb20-BasicPthon.ipynb',
 'Glaata-Feb2020-Maltplotlib.ipynb',
 'GlaataFeb2020_DataCleaning_part2.ipynb',
 'GlaataFeb2020_Plotly.ipynb',
 'Glaata_03_BasicPython.ipynb',
 'Glaata_Feb2020_DataCLeaning_Part3.ipynb',
 'Glaata_Feb2020_PDF_CSV.ipynb',
 'Glaata_feb2020_Plotly.ipynb',
 'Glaata_Feb2020_PythonBasics.ipynb',
 'Glaata_Feb2020_WebtoCSV.ipynb',
 'gl_sqlitetodataframe.ipynb',
 'gradient_descent.ipynb',
 'HCL',
 'HCL ML Challenge Dataset',
 'height3.csv',
 'homeprices.csv',
 'HospitalityEmployees.csv',
 'hr.csv',
 'IDBI.csv',
 'IDBII.csv',
 'include',
 'income.csv',
 'input.pdf',
 'INSTALL',
 'insurance_data.csv',
 'IntelGraphicsProfiles',
 'Iris.csv',
 'iris.data',
 'iris.html',
 'K-Fold.ipynb',
 'K-Means',
 'k-Nearest Neighbor _IRIS(KNN) (3).ipynb',
 'kite .ipynb',
 'knime-workspace',
 'KNN.ipynb',
 'KNN_04Mar.ipynb',
 'Lib',
 'libs',
 'LICENSE.txt',
 'LinearRegression',
 'LinearRegression-MultiVariate',
 'LinearRegression.ipynb',
 'LinearRegression_IRIS.ipynb',
 'lines.html',
 'Links',
 'List.ipynb',
 'Local Settings',
 'Logistic-Regression.ipynb',
 'LogisticRegression',
 'mar2020',
 'Mar2020_BasicPython.ipynb',
 'Mar2020_DataCleaning-Part1_NBA.ipynb',
 'Mar2020_DataCLeaningPart3.ipynb',
 'Mar2020_DataCleaningPart4.ipynb',
 'Mar2020_DataCleaning_Part2.ipynb',
 'Mar2020_SQLtoDF-Copy1.ipynb',
 'Mar2020_SQLtoDF.ipynb',
 'MarApr-2020-XGBoost.ipynb',
 'MArApr2020_NLP.ipynb',
 'MarApr2020_numpy.ipynb',
 'MarApr2020_Seaborn.ipynb',
 'MarApr2020_TimeSeriesAnanlysis.ipynb',
 'Matplotlib_DecJan20202.ipynb',
 'May2020_DataCleaning.ipynb',
 'Melting.ipynb',
 'Microsoft',
 'MicrosoftEdgeBackups',
 'Miles_Traveled.csv',
 'model_joblib',
 'model_joblib1',
 'model_pickle',
 'model_pickle1',
 'Music',
 'My Documents',
 'MyBasicPython_Dec2019.ipynb',
 'Mypythonfirstfiles.ipynb',
 'my_rnn_model.h5',
 'nba.csv',
 'nba_dup.csv',
 'nditer.ipynb',
 'NetHood',
 'NEWS.txt',
 'NOV-LIST&TUPLE.ipynb',
 'NovDec2020_NLTK.ipynb',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{9332df5f-7300-11ea-b478-bc44bc286396}.TM.blf',
 'NTUSER.DAT{9332df5f-7300-11ea-b478-bc44bc286396}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{9332df5f-7300-11ea-b478-bc44bc286396}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'Numpy.ipynb',
 'Numpy1.ipynb',
 'Numpy10.ipynb',
 'Numpy_Dec2019.ipynb',
 'numpy_tutorail_2.py',
 'numpy_tutorial.py',
 'OneDrive',
 'one_hot_encoding.ipynb',
 'output.csv',
 'output.xlsx',
 'output12.xlsx',
 'output123.xlsx',
 'output_21nov.csv',
 'output_21nov.html',
 'output_21nov.xlsx',
 'Pandas.ipynb',
 'Pandas_read_csv.ipynb',
 'Pdftocsv.ipynb',
 'PDFtoCSV1.ipynb',
 'Pictures',
 'pima-indians-diabetes.data.csv',
 'Ploltly.ipynb',
 'plotly.ipynb',
 'PrincipleCOmponentAnanlysis.ipynb',
 'PrintHood',
 'project',
 'Project 2 - CiFAR-10 Images Classification Using CNNs.ipynb',
 'Project 3 - Predict Crime Rate in Chicago_Weight.ipynb',
 'Project 3 - Predict Crime-Copy1.ipynb',
 'Project 3 - Predict Crime.ipynb',
 'Project-DataVisualization',
 'PROJECT-ML',
 'projects',
 'Project_Coronavirus.ipynb',
 'Prophet1-Intro-to-Facebook-Prophet.ipynb',
 'Prophet2-Prophet-Forecast-Evaluations.ipynb',
 'Prophet3.ipynb',
 'Prophet4.ipynb',
 'PyAudio-0.2.11-cp39-cp39-win_amd64.whl',
 'Pyspark-DecisionTree-DogFood.ipynb',
 'python-3.8.exe',
 'Python-Basic-20Oct-Copy1.ipynb',
 'Python-Basic-20Oct.ipynb',
 'PYTHON-BASIC.ipynb',
 'Python-Numpy.ipynb',
 'python.exe',
 'python3.dll',
 'python38.dll',
 'Pythonbasic19Nov.ipynb',
 'pythonw.exe',
 'RandomForestCLassifier-Copy1.ipynb',
 'RandomForestCLassifier.ipynb',
 'random_forest_exercise.ipynb',
 'README.txt',
 'Recent',
 'Regex',
 'RegEx.ipynb',
 'Regex1.ipynb',
 'Regex2.ipynb',
 'Regression_Dec2019.ipynb',
 'RegularExpression.ipynb',
 'Restaurant - Customers.csv',
 'Restaurant - Foods.csv',
 'Restaurant - Week 1 Sales.csv',
 'Restaurant - Week 1 Satisfaction.csv',
 'Restaurant - Week 2 Sales.csv',
 'Results.csv',
 'revenue.csv',
 'Reviews Project1.ipynb',
 'Sales_Prophet.csv',
 'Sample Dataset',
 'Sample.xls.xlsx',
 'sample_submission.csv',
 'SaveAndLoadTrainedModel.ipynb',
 'Saved Games',
 'SBI',
 'SBI.csv',
 'SCMS_Delivery_History_Dataset.csv',
 'Scripts',
 'seaborn-data',
 'Searches',
 'SendTo',
 'Sentiment-Analyzer.ipynb',
 'Share Price Analysis by code.ipynb',
 'sig1.csv',
 'solutions_model.h5',
 'spam.csv',
 'sqldiff.exe',
 'sqlite3.exe',
 'sqlite3_analyzer.exe',
 'SQLITEtoCSV_Dec2019.ipynb',
 'SqlLiteToDataframe-Nov.ipynb',
 'sqltodf.ipynb',
 'Start Menu',
 'Supply Chain Shipment Price Data Analysis.ipynb',
 'Supplychain-Project',
 'SupportVector.ipynb',
 'tcl',
 'Templates',
 'Tensorflow',
 'test.csv',
 'text',
 'TEXT-DELIMIETRER',
 'TextAnanlysis.ipynb',
 'TimeSeriesAnanlysis-Copy1.ipynb',
 'TimeSeriesAnanlysis.ipynb',
 'TimeSeriesDataVisualization.ipynb',
 'tips.csv',
 'titanic.csv',
 'toolbar.html',
 'Tools',
 'train.csv',
 'TrainTestandSplit',
 'Untitled Folder',
 'Untitled Folder 1',
 'Untitled Folder 2',
 'Untitled Folder 4',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled10.ipynb',
 'Untitled100.ipynb',
 'Untitled101.ipynb',
 'Untitled102.ipynb',
 'Untitled103.ipynb',
 'Untitled104.ipynb',
 'Untitled105.ipynb',
 'Untitled106.ipynb',
 'Untitled107.ipynb',
 'Untitled108.ipynb',
 'Untitled109.ipynb',
 'Untitled11.ipynb',
 'Untitled110.ipynb',
 'Untitled111.ipynb',
 'Untitled112.ipynb',
 'Untitled113.ipynb',
 'Untitled114.ipynb',
 'Untitled115.ipynb',
 'Untitled116.ipynb',
 'Untitled117.ipynb',
 'Untitled118.ipynb',
 'Untitled119.ipynb',
 'Untitled12.ipynb',
 'Untitled120.ipynb',
 'Untitled121.ipynb',
 'Untitled122.ipynb',
 'Untitled123.ipynb',
 'Untitled124.ipynb',
 'Untitled125.ipynb',
 'Untitled126.ipynb',
 'Untitled127.ipynb',
 'Untitled128.ipynb',
 'Untitled129.ipynb',
 'Untitled13.ipynb',
 'Untitled130.ipynb',
 'Untitled131.ipynb',
 'Untitled132.ipynb',
 'Untitled133.ipynb',
 'Untitled134.ipynb',
 'Untitled135.ipynb',
 'Untitled136.ipynb',
 'Untitled137.ipynb',
 'Untitled138.ipynb',
 'Untitled139.ipynb',
 'Untitled14.ipynb',
 'Untitled140.ipynb',
 'Untitled141.ipynb',
 'Untitled142.ipynb',
 'Untitled143.ipynb',
 'Untitled144.ipynb',
 'Untitled145.ipynb',
 'Untitled146.ipynb',
 'Untitled147.ipynb',
 'Untitled148.ipynb',
 'Untitled149.ipynb',
 'Untitled15.ipynb',
 'Untitled150.ipynb',
 'Untitled151.ipynb',
 'Untitled152.ipynb',
 'Untitled153.ipynb',
 'Untitled154.ipynb',
 'Untitled155.ipynb',
 'Untitled156.ipynb',
 'Untitled157.ipynb',
 'Untitled158.ipynb',
 'Untitled159.ipynb',
 'Untitled16.ipynb',
 'Untitled160.ipynb',
 'Untitled161.ipynb',
 'Untitled162.ipynb',
 'Untitled163.ipynb',
 'Untitled164.ipynb',
 'Untitled165.ipynb',
 'Untitled166.ipynb',
 'Untitled167.ipynb',
 'Untitled168.ipynb',
 'Untitled169.ipynb',
 'Untitled17.ipynb',
 'Untitled170.ipynb',
 'Untitled171.ipynb',
 'Untitled172.ipynb',
 'Untitled173.ipynb',
 'Untitled174.ipynb',
 'Untitled175.ipynb',
 'Untitled176.ipynb',
 'Untitled177.ipynb',
 'Untitled178.ipynb',
 'Untitled179-Copy1.ipynb',
 'Untitled179.ipynb',
 'Untitled18.ipynb',
 'Untitled180.ipynb',
 'Untitled19.ipynb',
 'Untitled2.ipynb',
 'Untitled20.ipynb',
 'Untitled21.ipynb',
 'Untitled22.ipynb',
 'Untitled23.ipynb',
 'Untitled24.ipynb',
 'Untitled25.ipynb',
 'Untitled26.ipynb',
 'Untitled27.ipynb',
 'Untitled28.ipynb',
 'Untitled29.ipynb',
 'Untitled3.ipynb',
 'Untitled30.ipynb',
 'Untitled31.ipynb',
 'Untitled32.ipynb',
 'Untitled33.ipynb',
 'Untitled34.ipynb',
 'Untitled35.ipynb',
 'Untitled36.ipynb',
 'Untitled37.ipynb',
 'Untitled38.ipynb',
 'Untitled39.ipynb',
 'Untitled4.ipynb',
 'Untitled40.ipynb',
 'Untitled41.ipynb',
 'Untitled42.ipynb',
 'Untitled43.ipynb',
 'Untitled44.ipynb',
 'Untitled45.ipynb',
 'Untitled46.ipynb',
 'Untitled47.ipynb',
 'Untitled48.ipynb',
 'Untitled49-Copy1.ipynb',
 'Untitled49.ipynb',
 'Untitled5.ipynb',
 'Untitled50.ipynb',
 'Untitled51.ipynb',
 'Untitled52.ipynb',
 'Untitled53.ipynb',
 'Untitled54.ipynb',
 'Untitled55.ipynb',
 'Untitled56.ipynb',
 'Untitled57.ipynb',
 'Untitled58-Copy1.ipynb',
 'Untitled58.ipynb',
 'Untitled59.ipynb',
 'Untitled6.ipynb',
 'Untitled60.ipynb',
 'Untitled61.ipynb',
 'Untitled62.ipynb',
 'Untitled63.ipynb',
 'Untitled64.ipynb',
 'Untitled65.ipynb',
 'Untitled66.ipynb',
 'Untitled67.ipynb',
 'Untitled68.ipynb',
 'Untitled69.ipynb',
 'Untitled7.ipynb',
 'Untitled70.ipynb',
 'Untitled71.ipynb',
 'Untitled72.ipynb',
 'Untitled73.ipynb',
 'Untitled74.ipynb',
 'Untitled75.ipynb',
 'Untitled76.ipynb',
 'Untitled77.ipynb',
 'Untitled78.ipynb',
 'Untitled79.ipynb',
 'Untitled8.ipynb',
 'Untitled80.ipynb',
 'Untitled81.ipynb',
 'Untitled82.ipynb',
 'Untitled83.ipynb',
 'Untitled84.ipynb',
 'Untitled85.ipynb',
 'Untitled86.ipynb',
 'Untitled87.ipynb',
 'Untitled88.ipynb',
 'Untitled89.ipynb',
 'Untitled9.ipynb',
 'Untitled90.ipynb',
 'Untitled91.ipynb',
 'Untitled92.ipynb',
 'Untitled93.ipynb',
 'Untitled94.ipynb',
 'Untitled95.ipynb',
 'Untitled96.ipynb',
 'Untitled97.ipynb',
 'Untitled98.ipynb',
 'Untitled99.ipynb',
 'vcruntime140.dll',
 'venv',
 'Videos',
 'WebScrapping-Copy1.ipynb',
 'WebScrapping-Copy2.ipynb',
 'webscrapping-Realtime.py',
 'WebScrapping.ipynb',
 'Webscrapping1.ipynb',
 'weights.txt',
 'XGBoost.ipynb']

# SHORT CUT KEYS

# UNDO / CTRL Z

# CASE SENSITIVE

In [20]:
India = 100

In [22]:
india = 1000

# DATA TYPES

INTEGER
FLOAT
STRING
BOOLEAN
LIST
TUPLE
DICTIONARIES

# INTEGER

In [24]:
a = 100

In [25]:
type(a)

int

In [26]:
b = 100.2

In [27]:
type(b)

float

In [28]:
c = '100'

In [29]:
type(c)

str

In [30]:
d = True

In [31]:
type(d)

bool

# Change the DATA type

In [34]:
a = 100

In [35]:
type(a)

int

In [36]:
a = float(a)

In [37]:
type(a)

float

In [38]:
b = 200.3

In [39]:
b = int(b)

In [40]:
type(b)

int

In [41]:
d = 20

In [43]:
d = str(20)

In [44]:
type(d)

str

In [45]:
e = '100'

In [46]:
e = int(100)

In [47]:
type(e)

int

In [ ]:
f = 'India'

In [48]:
f = int(f)
Cannot poosibel

NameError: name 'f' is not defined

In [ ]:
a = 1

In [49]:
a = bool(a)

In [50]:
a

True

In [51]:
type(a)

bool

In [52]:
b = 0

In [53]:
type(b)

int

In [54]:
b = bool(b)

In [55]:
b

False

# LIST

In [56]:
#A list is mutable

List1 = ['apple','orange','cherry','grapes','pineapple']

In [57]:
List1[1]

'orange'

In [58]:
List1[1] = 'Green Orange'

Excerices

In [59]:
List1

['apple', 'Green Orange', 'cherry', 'grapes', 'pineapple']

In [61]:
List2 = [1,2,3,4,5]

# TUPLE

In [60]:
thetuple = ('apple', 'Green Orange', 'cherry', 'grapes', 'pineapple')

In [64]:
thetuple[1] = 'Orange'

TypeError: 'tuple' object does not support item assignment

# DICTINARIES

In [67]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [69]:
thisdict['model']

'Mustang'

Excercis

In [71]:
thisdict1 = {
  "one": 1,
  "two": 2,
  "three": 3
}
print(thisdict1)

{'one': 1, 'two': 2, 'three': 3}

In [74]:
type(thisdict1)

dict

In [73]:
thisdict1['one']

1

In [75]:
len(thisdict1)

3

In [76]:
del thisdict1["two"]

In [77]:
thisdict1

{'one': 1, 'three': 3}

In [79]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
#del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [80]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

# COPY A DICTIONARY

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

In [14]:
thisdict = dict(brand="Ford", model="Mustang", year=1964)
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

# SET

In [91]:
thisset = {"apple", "banana", "cherry"}

print(thisset)

{'apple', 'banana', 'cherry'}

In [92]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

In [93]:
thisset

{'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

In [95]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)
#Once a set is created, you cannot change its items, but you can add new items.

apple
banana
cherry

# CONTAINER

Containers are any object that holds an arbitrary number of other objects. 
Generally, containers provide a way to access the contained objects and to iterate over them.
Examples of  containers include tuple , list , set , dict ; these are the built-in containers

# VARIABLES

In [1]:
rent = 122000

# rent is variable

# 1220 value

In [2]:
gas = 800

grocorries = 1000

In [3]:
Totalexpence = rent+gas+grocorries

In [11]:
print('Rent :',122000,
      "gas:",gas,
      "grocorries:",grocorries)

Rent : 122000 gas: 800 grocorries: 1000

In [13]:
print('Rent :',122000,'\r\n'
      "gas:",gas,'\r\n'
      "grocorries:",grocorries)

Rent : 122000
gas: 800
grocorries: 1000

In [ ]:
# Value in valuable can change
# Container is same

# OPERATORS

#ARITHMETIC OPRATORS
ADDITION
SUBRACTION
MULTIPLICATION
DIVISION
MODULO
EXPONENTIAL

In [25]:
a = 100
b = 5

In [26]:
addres = a + b
addres

105

In [27]:
subres = a-b
subres

95

In [28]:
mulres = a * b
mulres

500

In [29]:
divres = a / b
divres

20.0

In [32]:
modulores = a % b
modulores
# Returns the remider

0

In [36]:

expres = a **b
expres

10000000000

In [39]:
integerdivres = a // b
integerdivres
# Returns quotient

20

# ASSIGNMENT OPERATOR

In [47]:
a = 100
b = 20

In [42]:
c = a +b
c

120

In [48]:
b+=a
b

120

In [54]:
m1 = 100
m2 = 20
m2-=m1
m2

-80

In [55]:
n1 = 100
n2 = 20
n2/=n1
n2

# Only in divived

0.2

In [58]:
o1 = 10
o2 = 3
o2*=o1
o2

30

In [66]:
p1 = 6
p2 = 2
p2**=p1
p2

64

# COMPARISON OPERATOR

> . If left is greater
<
==
!=
>= Greater or equal to
<=

# Comparison Operator will return Boolean Value

In [67]:
a = 100
b = 20

In [68]:
a > b

True

In [69]:
a < b

False

In [70]:
a == b

False

In [72]:
a != b

True

In [73]:
a >= b

True

In [74]:
a <= b

False

# LOGICAL OPERATORS

AND OR NOT

In [76]:
a = 100

b = 20

c = 10

In [78]:
(a > b) & (a > c)

True

In [81]:
(a > b) | (b < c)

True

# Exception Handling

In [1]:
num1 = 10

In [2]:
num2 = 20
num3 = 30

In [4]:
num1

10

In [22]:
num1

10

In [5]:
1 / 0

ZeroDivisionError: division by zero

In [6]:
4 + spam *3

NameError: name 'spam' is not defined

In [7]:
spam +3

NameError: name 'spam' is not defined

In [8]:
spam =3

In [9]:
spam +3

6

In [28]:
'2' + 2

TypeError: can only concatenate str (not "int") to str

In [29]:
type('2')

str

In [30]:
int('2')+2

4

In [31]:
'a'+'b'

'ab'

In [2]:
num1 =10
num2 =14
num3 =12

In [7]:
if (num1 >= num2) and (num1>= num3):
    largest = num1
elif (num2 >= num1) and (num2>=num3):
    largest = num2
else:
    largest = num3
print("the largest number is: ",largest)

the largest number is:  14

In [44]:
import sys

randomList = ['a',0,2]

In [46]:
for entry in randomList:
    try:
        print("The entry is", entry)
        r = 1/int(entry)
        break
    except:
        print("Oops!",sys.exc_info()[0],"occured")
        print("Next Entry")
        print()
print("The reciprocal of",entry,"is",r)

The entry is a
Oops! <class 'ValueError'> occured
Next Entry

The entry is 0
Oops! <class 'ZeroDivisionError'> occured
Next Entry

The entry is 2
The reciprocal of 2 is 0.5

In [53]:
m1 = 10
n1 = 0

In [51]:
try:
    print(m1/n1)
except Exception :
    print("You cannot divide a number by zero")
print("I got the result")

1.0
I got the result

In [56]:
m4 = 5 
n4 = 2
try :
    print("resourse open")
    print(m4/n4)
except Exception as e:
    print("you cannot divide by zero",e)
print("I got the result")

resourse open
2.5
I got the result

In [59]:
m8 = 5
n8 = 0

try:
    print("resourse open")
    print(m8/n8)
except Exception as e:
    print("Yo canaot divide by zero", e)
    print("resourse closed")
finally:
    print("Sucess")

resourse open
Yo canaot divide by zero division by zero
resourse closed
Sucess

# IF THEN ELSE

In [88]:
a = 2
b = 20

In [89]:
if a > b:
    print('a is greater')
else:
    print('b is greater')

b is greater

In [90]:
a = 100
b = 200
c = 300

In [95]:
if (a>=b) and (b>=c):
    print('a is greater')
elif (b>=a) and (b>=c):
    print('b is greater')
else:
    print('c is greater')

c is greater

# FOR LOOP STATEMENT

In [99]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [102]:
# Program to find the sum of all numbers stored in a list

# List of numbers
n = [2,6,5,7,3,8,9,11]

# variable to store the sum
sum = 0

# iterate over the list
for val in n:
    sum = sum+val
    print("The sum is", sum)

The sum is 2
The sum is 8
The sum is 13
The sum is 20
The sum is 23
The sum is 31
The sum is 40
The sum is 51

In [103]:
# Program to find the sum of all numbers stored in a list

# List of numbers
n = [2,6,5,7,3,8,9,11]

# variable to store the product
product = 1

# iterate over the list
for val in n:
    product = product*val
    print("The product is", product)

The product is 2
The product is 12
The product is 60
The product is 420
The product is 1260
The product is 10080
The product is 90720
The product is 997920

# FUNCTION

SYNTAX OF FUNCTIO

In [108]:
def function_name(parameters):
    """docstring"""
    statement(s)

def - start of function
function_name - userdefined unique function name
parameters - optional ( parameters through with we pass value to a functio)
:End of the function header
"""docstring""" - Optional what function does
statement(s) python statement with same intendent level
return - optional ( returns value from the function)

In [115]:
def welcomemessage(name):
    print('Welcome to Data Ananlytics Course',name)

In [116]:
welcomemessage('Steve')

Welcome to Data Ananlytics Course Steve

In [118]:
def areasquare(a):
    b = a*a
    print(b)

In [119]:
areasquare(4)

16

In [120]:
def myformula(sales,tax):
    profit = sales-tax
    print('Profit is',profit)

In [121]:
myformula(10000,2000)

Profit is 8000

In [143]:
def circle1(r1):
    area1 = r1*2
    print(area1)

In [144]:
cricle(5)

Area of cirecle is <function cricle at 0x0000020CD1E7E798>

In [145]:
def mysquare(lenth1,breadh1):
    area1 = lenth1*breadh1
    print(area1)

In [146]:
mysquare(4,3)

12

In [149]:
def mycirc(rad1):
    area2 = 3.14 * rad1*rad1
    print(area2)

In [150]:
mycirc(3)

28.259999999999998

# MODULE OR PACKAGE CONTAINS  BUILTIN FUNCTION

MATH is Builtin Module of Pa

In [219]:
import math

In [220]:
math.sqrt(4)

2.0

In [221]:
x = 100
math.log(x)

4.605170185988092

In [222]:
math.sin(x)

-0.5063656411097588

In [223]:
x1 = 2

In [224]:
math.cos(x1)

-0.4161468365471424

In [225]:
math.tan(x)

-0.5872139151569291

In [226]:
math.pi

3.141592653589793

In [227]:
area = math.pi * 2 *2

In [228]:
import statistics

In [229]:
data1 = [1,3,4,5,5,5,7,8,8,8,8,9,100,200,200]

In [230]:
statistics.mean(data1)
#mean = m1,m2,m3/n

38.06666666666667

In [231]:
statistics.median(data1)
#To find the Median, place the numbers in value order and find the middle.

8

In [232]:
statistics.mode(data1)
# Frequntly occured number

8

In [8]:
import numpy as np
x = np.arange(100)

In [239]:
x

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])